Flask==3.0.2
flask-cors==4.0.0
scikit-learn==1.8.0
pandas==3.0.0
numpy>=1.26.0,<2.1.0
joblib==1.5.3
opencv-python>=4.8.0
Pillow>=10.0.0
tensorflow>=2.16.0
xgboost>=2.0.0
lightgbm>=4.0.0
catboost>=1.2.0
kaggle>=1.6.0
optuna>=4.0.0
imbalanced-learn>=0.12.0
